@import "../Mixins.scss";
@import "../Variables.scss";

.choose-class-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
    p{
        padding: 0;
        margin: 0;
        @include text-style(50px, 400, $black-blue-color, 100%);
        text-align: center;
        @include md{
            @include text-style(max(5vw, 40px), 400, $black-blue-color, 100%);
        }
        @include sm{
            @include text-style(max(5.71vw, 32px), 400, $black-blue-color, 100%);
        }
        b{
            font-weight: 700;
        }

    }
    article{
        padding: 0;
        margin: 0;
        @include text-style($medium-text-size, 400, $font-color-black, 110%);
        text-align: center;
        width: 430px;
        @include md{
            width: max(43vw, 280px);
        }
        @include sm{
            @include text-style(max(2.85vw, 16px), 400, $font-color-black, 110%);
        }
    }
    .class-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        button{
            width: fit-content;
            font-family: $main-font;
            font-weight: 400;
            font-style: normal;
            font-size: $medium-text-size;
            line-height: 100%;   
            border-radius: 30px;
            border: none;
            outline: none;
            color: $font-color-black;
            background-color: $block-color;
            transition: all .5s ease-out;
            padding: 10px 20px;
            cursor: pointer;
    &:hover{
        background-color: rgb(212, 212, 212);
    }
    &.active{
        background-color: $purple-color;
        color: $backround-color;
    }
        }
    }
    .disciplines-block {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        gap: 20px;
        @include md {
            grid-template-columns: auto auto;
        }
        @include sm {
            grid-template-columns: auto auto;
            gap: max(2.85vw, 10px);
        }
        a {
            width: max(15vw, 200px);
            padding: max(3vw, 40px) max(2vw, 20px);
            display: flex;
            flex-direction: column;
            gap: 22px;
            border-radius: 20px;
            background-color: $block-color;
            height: fit-content;
            transition: all 0.5s ease-out;
            pointer-events:all;
            text-decoration: none;
            cursor: inherit;
                pointer-events: all;
                cursor: pointer;
                svg {
                    .circle{
                        fill: $black-blue-color;
                    }
                    opacity: 0.9;
                }
                &:hover {
                    background-color: #2c365e;
                }
                &:hover p {
                    color: $purple-color;
                }
                &:hover .circle {
                    fill: $purple-color;
                }
            @include lg {
                width: max(17vw, 170px);
            }
            @include md {
                width: max(34vw, 230px);
                padding: max(5vw, 30px) max(4vw, 10px);
            }
            @include sm {
                width: max(34vw, 110px);
            }
            p {
                margin: 0;
                font-weight: 700;
                font-size: 2.6vw;
                line-height: 100%;
                color: $font-color-black;
                @include md {
                    font-size: max(3vw, 36px);
                }
                @include sm {
                    font-size: max(5vw, 20px);
                }
                transition: all 0.5s ease-out;
            }
            svg {
                width: 100%;
                .circle {
                    fill: #CECDCD;
                    transition: all 0.5s ease-out;
                }
            }
        }
    }
}